.navbar {
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #B1EBC2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
    /* margin-top: 10px; */
    font-weight: 600;
}

.active {
    border-bottom: 2px solid black;
}

.nav-item {
    color: black;
}

.btn {
    border: 1px solid black;
    margin-top: -10px;
}

.btn:hover {
    background-color: #000000;
    color: #B1EBC2;
    transition: 0.3s ease-in-out;
}