.navbar {
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #B1EBC2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* position: sticky; */
}

.nav-link {
    font-weight: 400;
}

.active {
    border-bottom: 2px solid black;
}

.nav-item {
    color: black;
}